@import './variables'; 
@import './mixins'; 

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
    scroll-behavior: smooth;
}

@import './homepage';
@import './about'; 
@import './contact'; 

